path_sbin= "{{hdfs_home}}/sbin"
hdfs_cluster_name = "{{hdfs_cluster_name}}"
#node_script= "{{hdfs_home}}/sbin/hadoop-daemon.sh --config {{ hdfs_conf_path }} --script hdfs "
#yarn_script = "{{hdfs_home}}/sbin/yarn-daemon.sh --config {{ hdfs_conf_path }} "
